<%- include('./partials/header',{ptitle:'Add Recipe Form'}) %>

        

 
        <div class="centerbox">   
            <form action="./form" method="post" id="form">
                <h2>Enter new recipe information:</h2><br>
                <label for="rname">Recipe Title:</label><br>
                <input type="text" name="rname" id="rname" maxlength="45"><br>
                <label for="author">Author of Recipe:</label><br>
                <input type="text" name="author" id="author" maxlength="45"><br>
                <p>Select Key Ingredients:</p>
                <% ingredients.forEach(ingredient => {%>
                    <input type="checkbox" id="<%= ingredient.iname %>" name="checkboxes" value="<%= ingredient.iname %>">
                    <label for="<%= ingredient.iname %>"><%= ingredient.iname %></Label></label><br>
                <%}); %>
                <label for="ingredients">Enter all ingredients in the recipe:</label><br>
                <textarea type="text" name="ingredients" id="ingredients" rows="4" cols="50"></textarea><br>
                <label for="instructions">Please give the step by step instructions for the recipe:</label><br>
                <textarea type="text" name="instruct" id="instruct" rows="10" cols="50"></textarea><br>
                <input type="submit" value="Add Recipe">
            </form>
        </div>
        
</body>
</html>